$blue-color: #4280EF;
$lightAqua-color: #00AEF733;
$aqua-color: #00AEF7;
$lightBlue-color: #4280EF99;
$darkBlue-color: #144294;
$black-color: #2C2C2C;
$white-color: #FFFFFF;
$darkWhite-color: #E1E1E1;
$grey-color: #BCBCBC;
$lightGrey-color: #F5F5F5;





