.buttonBack {
    display: flex;
    align-items: center;
    gap: 23px;
    margin: 65px 73px 40px 25px;

    .text {
        font-size: 14px;
        font-weight: 600;
        margin-top: 2px;
    }
}