.signInPage {

    .content {
        margin: 0 24px;

        .title {
            display: flex;
            flex-direction: column;
            gap: 23px;
            margin-bottom: 43px;
        }

        .form {

            .emailInput {
                margin-bottom: 25px;
            }

            .button {
                margin-top: 47px;
            }
        }

        .errorText {
            margin-top: 47px;
        }
    }
}